<div class="container">
<h1>Blog</h1>

<div class="form-group">
<% if current_user %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>

<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-info' %>
<% end %>
</div>
</div>