<div class="card">
  <div class="card-body">
    <p>Hi, my name is Milena!</p>
    <p>
      I work as a back-end developer since 2016. Here you will be able to see a
      little bit of my journey in this amazing world of web development :D
    </p>

    <div class="d-flex">
      <h1 class="display-1 fw-bold text-secondary">1</h1>
      <div class="ms-3">
        <p>
          In October 2016, I was able to have my first job as an IT, started as
          a system analist, here in this company I could learn a LOT about
          databases, one of my roles was to create reports using Microsoft SQL
          Server Reporting Services (SSRS). And then, I developed a simple blog
          where the workers could post about their jobs, with video and photos.
        </p>
        <p>Stacks: SSRS, HMTL, CSS, SSRS, Windows, mySQL</p>
      </div>
    </div>

    <div class="d-flex">
      <div class="me-3">
        <p>
          April 2017, I could start as a back-end developer, here in this
          company I start to code using PHP with Laravel. They had a lot of cool
          projects that I was able to contribute, here a summary of them:
          Matrícula Online: A system that made easier to enroll the student on
          state school, with this project the parents didn't need to get a
          massive queue on school to enroll their child, they were able to book
          a spot in school and then delivery the student documents on school to
          confirm that they want it. JOER: A system that could make the
          management of school games, they could set teams, coaches, manage a
          list of feeding and transportation of anyone that was participating.
          Codise: A system where they keep it up if the student was developing
          as they should, here they could know, by telling age, weight, and a
          few measurements if the child was underdeveloped or malnourished.
        </p>
        <p>
          Stacks: PHP, Laravel, Rancher, Docker, Dockercompose, Git, Ubuntu,
          Bootstrap, CSS, HTML
        </p>
      </div>
      <h1 class="display-1 fw-bold text-secondary">2</h1>
    </div>

    <div class="d-flex">
      <h1 class="display-1 fw-bold text-secondary">3</h1>
      <div class="ms-3">
        <p>
          April 2019, here in this company I take my first step as a Node.JS
          developer. My role was to developer web crawlers to get investments
          from financial companies and send it to our API. I was able to
          contribute in some Ruby on Rails project, the biggest one was a search
          engine to find investments by any filter available on our system. I
          did maintenance on Ruby on Rails projects and could learn and develop
          a crawler using AWS Lambdas.
        </p>
        <p>
          Stacks: Node.JS, Puppeeter, Nightmare.js, Cheerio, AWS Lambda, Ruby on
          Rails, RSpec, Ubuntu, AppSignal, Express, CSS, HTML
        </p>
      </div>
    </div>
    <p>
      I really love to work as back-end, but I'm able to do something on
      front-end :)
    </p>
  </div>
</div>
