<!-- Vertical navbar -->
<div class="vertical-nav bg-dark" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-dark">
    <div class="media d-flex align-items-center"><img src="https://avatars.githubusercontent.com/u/50773663?v=4" alt="..." width="95" class="rounded-circle img-thumbnail shadow-sm">
      <div class="media-body ms-2">
        <h5 class="m-0 text-light">Milena Daltiba</h5>
        <p class="font-weight-dark text-muted mb-0">Back-end Developer</p>
       
      </div>
      
    </div>
    <div class="media-footer mt-2 ms-5">
     <div class="btn-toolbar">
        <h2><a href="https://github.com/daltibamilena" target="_blank"><i class="bi bi-github me-2 text-light"></i></a></h2>
        <h2><a href="https://gitlab.com/milenadaltiba" target="_blank"><i class="bi bi-git me-2 text-warning"></i></a></h2>
        <h2><a href="https://www.linkedin.com/in/milenadaltiba/" target="_blank"><i class="bi bi-linkedin text-primary"></i></a></h2>
        </div></div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-secondary mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-light font-italic bg-dark">
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-light font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                About
            </a>
    </li>

  </ul>

</div>